/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para o cabeçalho */
  h1 {
    color: #333;
  }
  
  /* Estilo para os projetos */
  .project {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .project h3 {
    color: #333;
  }
  
  .project p {
    color: #666;
  }
  
  .project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .project a {
    color: #007bff;
    text-decoration: none;
  }
  
  .project a:hover {
    text-decoration: underline;
  }
  
  /* Estilo para o rodapé */
  .footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  